<%include file="header.html"/>

<div id="feature">
<div class="wrapper">
  <h2>${title}</h2>
  ${summary}
        % if len(toc)>0 :
        <div id="subCol">
            <h3 class="chapter"><img src="../assets/images/chapters_icon.gif" alt="" />Chapters</h3>
                <ol class="chapters">
                    % for e in toc:
                    <li><a href="#${e['link']}">${e['title']}</a>
                    % if len(e['children'])>0:
                        <ul>
                            % for c in e['children']:
                                <li><a href="#${c['link']}">${c['title']}</a></li>
                            % endfor
                        </ul>
                    % endif
                    </li>
                    % endfor
                </ol>
        </div>
        % endif
</div>
</div>

<div id="container">
<div class="wrapper">
  <div id="mainCol">
      ${body}
  </div>
</div>
</div>

<%include file="footer.html"/>
