<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="${language_code}" lang="${language_code}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="description" content="${description}" />

<title>Appcelerator Documentation Guides : ${title}</title>

<link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="../assets/stylesheets/syntax.css" />
<link rel="stylesheet" type="text/css" href="../assets/stylesheets/print.css" media="print" />

<script type="text/javascript" src="../assets/javascripts/guides.js"></script>
<script type="text/javascript" src="../assets/javascripts/code_highlighter.js"></script>
<script type="text/javascript" src="../assets/javascripts/highlighters.js"></script>

% if globals.has_key('website'):
<script type="text/javascript" src="../assets/javascripts/jquery.js"></script>
<script>
    var page = "${source}";
    var lang = "${language_code}";
    var language = "${language}";
    var baseurl = "${globals['baseurl']}";
</script>
<script type="text/javascript" src="../assets/javascripts/admin.js"></script>
% endif

</head>
<body class="guide">
<div id="topNav">
  <div class="wrapper">
      % if globals.has_key('website'):
        <div id="editbar">
          Admin: 
          <a href="" id="edit">Edit</a> | 
          <a href="http://github.com/api/v2/html/commits/list/appcelerator/titanium_documentation/master/source/${language_code}/${source}">History</a> |
          <a href="https://github.com/appcelerator/titanium_documentation/raw/master/source/${language_code}/${source}">Source</a> | 
          <a href="${globals['baseurl']}/rebuild">Rebuild Site</a>
        </div>
      % endif
      <div id="languages">
      <% import os %>
      % for l in languages:
        % if language_code == l['code']:
            ${l['title']}
        % else:
        % if os.path.exists(os.path.join(template_dir,'source',l['directory'])):
            <a href="/${l['code']}">${l['title']}</a>
        % endif
        % endif
      % endfor
      </div>
      <div class="clearfix"></div>
  </div>
</div>
  <div id="header">
    <div class="wrapper clearfix">
      <h1><a href="index.html" title="Return to home page">Appcelerator Documentation</a></h1>
      <p class="hide"><a href="#mainCol">Skip navigation</a>.</p>
      <ul class="nav" style="margin-top:0">
        <li><a href="index.html">Home</a></li>
        <li class="index"><a href="index.html" onclick="guideMenu(); return false;" id="guidesMenu">Guides Index</a>
          <div id="guides" class="clearfix" style="display: none;">
            <hr />
            <%
                left_sections = {}
                right_sections = {}
            %>
            <dl class="L">
                % for s in sections:
                % for g in s['books']:
                % if g['menu']=='left':
                % if not left_sections.has_key(s['title']):
                    <dt>${s['title']}</dt>
                <% left_sections[s['title']]=True %>     
                % endif    
                    <dd><a href="${g['source'].replace('.md','.html')}">${g['name']}</a></dd>
                % endif
                % endfor
                % endfor
            </dl>
            <dl class="R">
                % for s in sections:
                % for g in s['books']:
                % if g['menu']=='right':
                % if not right_sections.has_key(s['title']):
                    <dt>${s['title']}</dt>
                <% right_sections[s['title']]=True %>     
                % endif    
                    <dd><a href="${g['source'].replace('.md','.html')}">${g['name']}</a></dd>
                % endif
                % endfor
                % endfor
            </dl>
          </div>
        </li>
        <li><a href="contribute.html">Contribute</a></li>
        <li><a href="credits.html">Credits</a></li>
      </ul>
      % if globals.has_key('website'):
      <br/>        
      <div style="margin-top:19px;">          
          <div style="float:right">
              <input type="type" value="" id="search" style="width:330px;font-size:16px"/> 
              <input type="image" src="../assets/images/search.png" style="position:relative;top:8px"/>
          </div>
      </div>
      % endif
    </div>
  </div>
  <hr class="hide" />
