<%include file="header.html"/>

<div id="feature">
<div class="wrapper">
  <h2>${title}</h2>
  ${summary}
  <div id="subCol">
      <h3 class="chapter"><img src="../assets/images/chapters_icon.gif" alt="" />Guides</h3>
          <ol class="chapters">
                % for s in sections:
                <li><a href="#${s['title'].replace(' ','_')}">${s['title']}</a></li>
                % endfor
          </ol>
  </div>
</div>
</div>

<div id="container">
<div class="wrapper">
  <div id="mainCol">
      ${body}
      
        % for s in sections:
            <h3 id="${s['title'].replace(' ','_')}">${s['title']}</h3>
        % for g in s['books']:
            <dl>
                <dt><a href="${g['source'].replace('.md','.html')}">${g['name']}</a></dt>
                <dd>
                    <p>${g['description']}</p>
                    % if g.has_key('inprogress'): 
                        <div class="note">
                            <p>This guide is still in progress. You could help by <a href="contribute.html#how_to_contribute_to_documentation">contributing</a>.</p>
                        </div>
                    % endif
                </dd>
            </dl>
        % endfor
        % endfor

  </div>
</div>
</div>

<%include file="footer.html"/>
